*.swp

# this file can be used to change default config on server
server/config.override.js
server/config.override.js.backup
server/node_modules

# generate from client using minify.js
client/index.min.html
