window.songuess = {
  master_server : "ws://localhost:8080/",

  /*
   * can be DummyStorage, or FileStorage
   */
  cookie_storage : FileStorage,

  // for each chunk client gets primary and secondary URL.
  // client should download primary URL and only
  // if this timeout passes, secondary URL is queried.
  primaryChunkDownloadTimeout : 1000
};
